[Unit]
Description=Q3 Pickup Bot Service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /root/scripts/q3pickupbot/script.py
[Install]
WantedBy=multi-user.target