[Unit]
Description=Q3 Pickup Bot Service
After=multi-user.target
[Service]
Type=simple
Restart=always
User=yourUserAccount
ExecStart=/usr/bin/python3 /home/yourUserAccount/script.py
[Install]
WantedBy=multi-user.target
